.errors-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(235, 231, 225);
    text-align: center;
    padding: 15px 0 200px 0;
}


.logo-container {
    display: flex;
    position: center;
    width: 25%;
    height: 100%;
    padding: 5px;
 
}

.sm-logo {
    text-decoration: none;
    font-size: 30px;
    padding-right: 5px;
    margin-top: 5px;
    float: left;
    margin-right: 50px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(122, 108, 96);
    font-weight: 100; 
    display: flex;
    cursor: default;
}
.sm-logo-part2 {
    color: rgb(94, 62, 39);
    font-weight: inherit;
    font-weight: 250;
    margin-right: 5px;
    display: inline-block;
}

.main-content {
    background-color: white;
    width: 40%;
    text-align: center;
    border: 1px solid lightgray;
    padding: 28px 10px 34px 10px;
    /* display: flex; */
    display: inline-block;
    height: 100%;

}
.right-error-box {
    padding: 20px;
}

.directions {
    padding: 0px 0px 2px 0px;
    font-size: 20px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    color: #382110;
    line-height: 24px;
    /* width: 540px; */
}
.reason-for-signup {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: black;
    font-weight: normal;
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
}

.third-party-signin {
    text-align: center;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 16px;
}

#facebook {
    display: inline-flex;
    width: 300px;
    background-color: #3b5998;
    border-color: #3b5998;
    color: white;
    font-weight: normal;
    align-self: center;
    height: 40px;
    border-radius: 6px 6px 6px 6px;
    justify-content: center;
    font-size: 14px;
}

#amazon {
    width: 300px;
    margin-top: 10px;
    display: inline-flex;
    background-color: #f5d47a;
    color: #000;
    font-weight: normal;
    border: 1px solid #B38B22;
    height: 40px;
    border-radius: 6px 6px 6px 6px;
    justify-content: center;
     font-size: 14px;
}
.or-box {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: inherit;
    font-size: 14;
    color:  #999
}

h2:before,
h2:after {
    content: '';
    border-top: 1px solid rgb(209, 206, 206);
    margin: 0 10px 0 0;
    flex: 1 0 10px;
}

h2:after {
    margin: 0 0 0 10px;
}

.email-instead {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.error-flashmessage-box {
   
    border-radius: 6px 6px 6px 6px;
}
.error-message {
       background-color: #fdb7ad;
    border: 1px solid #FA604A;
    border-radius: 3px;
    color: #333333;
    margin: 16px 0;
    padding: 12px;
    text-align: center;
}

.login-form-display {
    display: block;
    /* border-radius: 4px; */
    justify-content: center;
    padding: 15px 10px 34px 10px;
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
}
.signup-area {
    background-color: #fff7c9;
    box-shadow: inset 0px 2px 1px 0px #eadcb9; 
    display: block; 
    /* position: relative; */
    padding: 10px 5px;
    margin-top: 1px;
    width: 270px;
    font-size: 16px;
    border: #DCD6CC 1px solid;
    border-radius: 3px;
    font-weight: lighter;
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    color: #333333;
    outline: none;

}

.label {
    display: block;
    font-size: 12px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #333;
    /* text-align: inherit; */
    text-align: left
}

#signup {
    display: block;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 15px;
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    background-color: #F4F1EA;
    text-align: left;
    line-height: 1;
    padding: 12px 20px;
    outline: none;
}

#member {
    float: center;
    font-size: 11px;
    margin-top: -27px;
    margin-left: 50px;
    margin-right: 10px
}
.link {
    float: right;
    margin-left: -40px;
    margin-right: 10px;
    color: #00635d;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}
