.footer {
   
    height: 100px;
    position: fixed;
    bottom : 0;
    width: 100%;
    height: 60px;
    border: 1px solid #e9e9e1;
    background-color: #f4f2e9;
}

.socialIcons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.socialLink {
    font-size: 3em;
    color: #75492a;
}

.socialLink:hover {
    color: #382110;
}