.main-header-nav {
    display: flex;
    width: 100%;
    border: 1px solid rgb(189, 184, 184);
    height: 50px;
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    background-color:  rgba(244,241,234,0.5);
    /* justify-content: space-between; */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    position: relative;

    
}

.main-header-nav ul {
    margin: 0;
}   

.small-logo {
    text-decoration: none;
    font-size: 32px;
    padding-right: 5px;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 50px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(122, 108, 96);
    font-weight: 100; 
    display: flex;
    cursor: pointer;
   
}
.small-logo-part2 {
    color: rgb(94, 62, 39);
    font-weight: inherit;
    font-weight: 250;
    margin-right: 5px;
    display: inline-block;
}
.personal-menu {
    color: rgb(94, 62, 39);
    display: flex;
    margin-right: 300px;
    margin-top: 8px;
    /* position: relative; */
    text-align: center;
    /* margin-left: -50px; */
    
    /* margin-top: 15px; */
    cursor: pointer;
}

.personal-menu ul li {
    list-style-type: none;
    display: inline-block;
    height: 100%;
}


.personal-menu li:hover {
    background-color: #382110;
    height: 30px;;
    color: white;
}

.clickable {
    width: 100px;
    font-size: 20px;
    height: 100%;
    padding: 10px;
    border: 20px;
   
}
#mybooksLink {
    text-decoration: none;
    color: rgb(94, 62, 39);
}

#homeButtonLink {
      text-decoration: none;
    color: rgb(94, 62, 39);
}

#smallLogoLink {
    text-decoration: none;
    cursor: pointer;
}
.logout {
    position: fixed;
    z-index: 70;
    /* position: absolute; */
    display: inline-block;
    font-weight: normal;
    border-radius: 3px;
    border: #382110 1px solid;
    color: white; 
    background-color: #382110;
    font-size: 14px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    padding: 8px 12px;
    height: 35px;
    margin-top: 5px;
    margin-left: 37%;
    cursor: pointer;
    position: relative;
    /* left: 500px; */
    max-width: 100%;
    position: absolute;
    right: 10px;
}

.logout:focus {
    outline: none;
}
/* .no-display {
    display: none;
}

.profile {
    cursor: pointer;
    margin-right: 60px;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    position: relative;   
    display: inline-block; 
    
}
    .drop-down {
        position: absolute; 
        z-index: 1;
    }

.profile:hover {
    background-color: #382110;
    color: white;
} */